branches:
  only:
    - master

language: node_js
node_js:
  - "8"

cache:
  directories:
    - node_modules

before_install:
  - pip install --user awscli
  - export PATH=$PATH:$HOME/.local/bin

install:
  - npm install

script:
  - node ./node_modules/ugly-build/index.js build
deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
    local_dir: .build
  - provider: s3
    skip_cleanup: true
    access_key_id: $AWS_ACCESS_KEY_ID # Set in travis-ci.org dashboard
    secret_access_key: $AWS_SECRET_ACCESS_KEY # Set in travis-ci.org dashboard
    bucket: $AWS_S3_BUCKED # Set in travis-ci.org dashboard
    local_dir: .build
after_deploy:
  - aws cloudfront create-invalidation --distribution-id $CLOUDFRONT_DISTRIBUTION_ID --paths "/*"
