.settings-trigger {
  float: right;
  background: transparent;
  font-size: 25px;
  border: 0px solid transparent;
  margin-top: -55px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.settings-wrapper {
  position: absolute;
  background: white;
  padding: 15px;
  box-shadow: 4px 5px 15px -3px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.settings-wrapper > button {
  margin-top: 10px;
}
