.plan {
  border: 1px solid #e1e4e8;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1);
  margin: 0 10px 30px;
  min-width: 250px;
}

.plan h3 {
  margin-bottom: 2px;
}

.plan h4 {
  font-size: 14px;
  opacity: 0.8;
  font-weight: normal;
  margin-top: 0;
}

.plan ul {
  padding: 0;
  text-align: left;
}

.plan li {
  margin-bottom: 10px;
}
