#error-banner {
  position: absolute;
  top: 15px;
  right: 15px;
  background: rgb(155, 13, 13);
  color: white;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(27, 31, 35, 0.1);
  padding: 10px;
  width: 250px;
}

#close-banner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.plan {
  cursor: pointer;
}

.plan.selected {
  border-color: rgba(62, 173, 63, 0.5);
  box-shadow: 0 1px 10px rgba(62, 173, 63, 0.5);
}

#signup, #create-org, #choose-org {
  text-align: center;
  padding-bottom: 200px;
}

#manage-org {
  padding-bottom: 200px;
}

.avatar {
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  padding: 0;
}

.avatar:empty {
  background: #83847f;
}

.avatar img {
  width: 40px;
  height: 40px;
}

table, tbody {
  width: 100%;
}

table {
  border-spacing: 0;
}

tr:hover, tr:hover td {
  background: rgba(0, 0, 0, 0.1);
}

td {
  padding-top:10px;
  padding-bottom:10px;
}

#onAddMember {
  padding: 0.3em 1.25em;
  font-size: 14px;
}

td .cta {
  padding: 0.3em 1.25em;
  font-size: 14px;
  border: 1px solid rgb(155, 13, 13);
  color: rgb(155, 13, 13);
  transition: all 0.2s ease-in-out;
}

td .cta:hover {
  background: rgb(155, 13, 13);
  color: white;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 150px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -1.0s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
  }
}
